#newCallHeader
{
   width: 80%;
   margin-left: auto;
   margin-right: auto;
   text-align: center;
   padding-left: 0%;
   padding-bottom: 5%;
   font-size: 28px;
   font-weight: 400;
   font-family: 'Josefin Sans', sans-serif;
   color:#49240a;
}


#notes_box {
   border: 1px solid #CAD622;
   background-color: white;
   color: #49240a;
   padding: 10px 5px;
   margin-left: 10%;
   margin-right: 10%;
   width: 80%;
   height: 75px;
   margin-top: 10px;
   font-size: 1em;
   font-family: 'Lato', sans-serif;
   align-self: center;
}

textarea {
    height: 1em;
    padding: 3px;
    transition: all 0.5s ease;
}

textarea:focus {
    height: 250px;
}


.call_selector_btns {
   width: 80%;
   margin-top: 14px;
   margin-left: 10%;
   margin-right: 10%;
   padding-top: 12px;
   padding-bottom: 12px;
   padding-right: 10%;
   padding-left: 10%;
   background-color: #CAD622;
   color: #49240a;
   border: 1px solid #3ea05b;
   font-size: 20px;
   font-weight: 200;
   font-family: 'Lato', sans-serif;
}
